@page
@model Laszlo_Sebastian_Proiect.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <!-- Add any additional CSS styles here -->
    <style>
        body {
            background-color: #fff; 
            color: #343a40; 
        }

        .container {
            margin-top: 50px;
            text-align: center;
        }

        h1 {
            color: #990000; 
        }

        .btn-primary {
            background-color: #990000; 
            border-color: #990000; 
            color: #fff; 
        }

            .btn-primary:hover {
                background-color: #800000; 
                border-color: #800000;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Velvet Ink Tattoo Shop</h1>
        <p>Book your appointment and get ready for a unique tattoo experience!</p>

        <a class="btn btn-primary" href="/Tattoos/Create">Make an Appointment</a>
    </div>

    
</body>
</html>
